@import "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap";
.top {
  height: 45px;
  width: 45px;
  background-color: #09aff4;
  position: absolute;
  z-index: 9999;
  right: 0;
  position: fixed;
  margin-right: 30px;
  border-radius: 4px;
  top: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.3s;
}

.top i {
  font-size: 22px;
  color: #fff;
}

/* .on-top {
    display: none;
} */

.Logo {
  width: 15%;
  position: absolute;
  top: 15%;
}

nav {
  display: flex;
  height: 90px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-family: sans-serif;
  padding: 0 100px;
  z-index: 22;
  transition: 0.4s;
  background-color: #fff;
}

.sticy-nav {
  position: fixed;
  transition: 0.4s;
}

.nav-ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 16px;
}

.nav-ul li {
  margin-top: 10px;
  color: #404040;
  cursor: pointer;
  transition: 0.3s;
}

.nav-ul li:hover {
  color: #09aff4;
}

.nav-btn {
  padding: 10px 15px;
  border: 2px solid #09aff4;
  border-radius: 10px;
  color: #0aa0d4;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.nav-btn:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #09aff4;
  top: 0;
  right: 100%;
  transition: 0.3s;
  z-index: -1;
}

.nav-btn:hover {
  color: #fff;
}

.nav-btn:hover:after {
  right: 0;
}

nav a {
  text-decoration: none;
  color: #282828;
}

#menu {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
#menucls {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
.nav-ul li a {
  position: relative;
}

.nav-ul li a:before {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background-color: #09aff4;
  margin-top: 22px;
  transition: 0.3s;
}

.nav-ul li a:hover:before {
  width: 100%;
}

.nav-ul li a:hover {
  color: #09aff4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.footer-box {
  width: 100%;
  align-items: center;
  height: auto;
  background-color: #060922;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 7px 70px;
  flex-wrap: wrap;
}

.inner-footer {
  padding: 10px;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 20px;
}

.inner-footer p {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 18px;
  color: #cacaca;
}

.inner-footer i {
  font-size: 45px;
}

.inner-footer h4 {
  font-size: 16px;
  color: #cacaca;
}

.inner-input input {
  padding: 13px;
  position: relative;
  border: none;
  outline: none;
  height: 45px;
}

.inner-input button {
  padding: 13px;
  position: absolute;
  border: none;
  background-color: #09aff4;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  height: 45px;
  width: 110px;
}

.reserch-main-box {
  width: 100%;
  background-color: #060922;
  padding: 80px;
  text-align: center;
}

.reserch-main-box h1 {
  color: #fff;
  font-size: 35px;
}

.reserch-main-box h1 span {
  color: #09aff4;
}

.reserch-main-box p {
  width: 80%;
  text-align: center;
  margin: auto;
  color: #bdbbbb;
  line-height: 22px;
}

.research-img {
  height: 500px;
  width: 93%;
  background-color: red;
  margin: 60px auto auto;
  background-image: url(../images/bg1.webp);
  background-size: cover;
}
.bgcontent2 {
  width: 40% !important;
}

.card-box {
  width: 100%;
  background-color: #01323e;
  padding: 0 80px 80px;
  font-family: Roboto, sans-serif;
}

.card-title h5 {
  color: #09aff4;
  font-size: 15px;
  letter-spacing: 2px;
}

.card-title h1 {
  color: #fff;
  font-size: 45px;
  margin-top: 20px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.card-title p {
  color: #aeaeae;
  line-height: 25px;
  text-transform: capitalize;
}

.service-title-card {
  padding: 30px;
  width: 660px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.see-btn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.see-btn button {
  padding: 15px;
  font-weight: 600;
  font-size: 17px;
  background-color: #09aff4;
  border-radius: 0 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.fa-arrow-right-long {
  margin-left: 5px;
  font-size: 20px;
}

.see-btn button:hover {
  background-color: transparent;
  border: 2px solid #09aff4;
  color: #09aff4;
}

.see-btn button:hover .fa-arrow-right-long {
  margin-left: 12px;
  transition: 0.3s;
}

.main-card {
  width: 100%;
  margin: -20px auto auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card2 {
  height: 320px;
  width: 430px;
  border: 0.5px solid #c9cccd;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-image: url(../img/img1.webp);
  background-size: cover;
  background-position: center;
}

.card2 img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.card2:hover:after {
  right: 0;
}

.card2:hover p,
.card2:hover i,
.card2:hover h4 {
  color: #fff;
}

.card2 i {
  color: #09aff4;
  font-size: 50px;
  margin: 25px;
}

.card2 h3 {
  color: #fff;
  margin-left: 25px;
}

.card2 p {
  color: #a7a6a6;
  margin: 15px 25px 0;
  line-height: 25px;
  font-weight: 700;
  font-size: 15px;
  width: 330px;
}

.card2 h4 {
  color: #09aff4;
  margin-left: 25px;
  font-size: 15px;
}

.arrow i {
  font-size: 18px;
  margin-left: 5px;
}

.AboutComp-box {
  width: 100%;
  background-color: #060922;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  overflow: hidden;
  margin-bottom: -120px;
  padding: 70px 60px 70px 85px;
}

.About-box {
  width: 650px;
  font-family: roboto;
}

.About-box h5 {
  font-family: roboto;
  color: #09aff4;
  font-size: 15px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.About-box h1 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 30px;
  padding-bottom: 15px;
}

.About-box h1 span {
  color: #09aff4;
}

.About-box p {
  color: #d5d5d5;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  width: 88%;
}

.box-one {
  padding: 10px 0;
  width: 300px;
  margin-top: 30px;
  display: flex;
}

.main-content-box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.box-one i {
  font-size: 40px;
  color: #09aff4;
}

.inner-content {
  height: 100%;
  width: 100%;
  padding-left: 15px;
}

.inner-content h2 {
  color: #fff;
  padding-bottom: 10px;
  font-size: 22px;
}

.inner-content p {
  font-size: 16px;
  line-height: 20px;
  color: #b7b7b7;
  font-weight: 400;
}

.About-box Img {
  object-fit: cover;
  height: auto;
  width: 95%;
}

.Port-card {
  width: 100%;
  background-color: #060922;
  padding: 80px 120px;
  color: #fff;
  font-family: roboto;
}

.Portfolio-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Portfolio-box h4 {
  color: #09aff4;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 15px;
}

.Portfolio-box h1 {
  font-size: 42px;
  letter-spacing: 2px;
  font-weight: 500;
}

.Portfolio-box button {
  padding: 15px;
  width: 15%;
  font-weight: 700;
  font-size: 15px;
  border-radius: 0 12px;
  background-color: #09aff4;
  color: #fff;
  border: 2px solid #09aff4;
  transition: 0.3s;
  cursor: pointer;
}

.Portfolio-box button:hover {
  background-color: transparent;
  color: #09aff4;
}

.img-card {
  width: 100%;
  padding: 10px 0;
  margin: 70px auto auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Contect-main-box {
  width: 100%;
  background-color: #060922;
  padding: 40px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contect-box {
  margin: 20px;
  font-family: roboto;
  color: #fff;
}

.contect-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
  width: 500px;
}

.contect-box p {
  padding-bottom: 10px;
}

.contect-box input {
  padding: 13px 50px 13px 13px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.input-message input {
  width: 100%;
  padding-bottom: 70px;
  outline: none;
  border-radius: 5px;
}

.box22 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  background-color: #09aff4;
  border-radius: 5px;
}

.input-box {
  display: flex;
  gap: 10px;
}

.sms-btn button {
  padding: 15px 18px;
  background-color: #060922;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.card-img {
  height: 400px;
  width: 420px;
  margin: 5px 0;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.card-img img {
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
  cursor: pointer;
  height: 100%;
}

.card-img:hover img {
  transform: scale(1.2);
}

.card-img h2 {
  position: absolute;
  z-index: 2;
  bottom: -20%;
  background-color: #060922c5;
  width: 100%;
  transition: 0.5s;
  padding: 15px 15px 15px 50px;
  font-size: 18px;
}

.card-img:hover h2 {
  bottom: -2%;
}

.testimonial-bg {
  width: 100%;
  background-image: url(../images/1-bg-3aa72f94.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.testimonial-content {
  width: 100%;
  height: 100%;
  background-color: #111124dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-content2 {
  width: 70%;
  margin: auto;
  padding: 50px;
}

.carousel {
  height: 300px;
  width: 100%;
  text-align: center;
}

.inner-content2 h4 {
  text-align: center;
  color: #09aff4;
  font-size: 15px;
  letter-spacing: 1px;
}

.inner-content2 h1 {
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.img {
  height: 70px;
  width: 70px;
  outline: 4px solid rgb(0, 183, 255);
  background-image: url(/assets/testimonil-img-c90424bf.png);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  outline-offset: 2px;
  margin: 40px auto;
}

.inner-content2 p {
  width: 600px;
  margin: auto;
  color: #fff;
}

.inner-content2 h5 {
  color: #fff;
  margin-top: 20px;
  font-size: 16px;
}

.inner-content2 h6 {
  font-size: 16px;
  color: #605e5e;
}

body {
  background: black;
}

.footer-bg {
  width: 100%;
  background-image: url(../images/footer-bg-1-f08d6a0d.webp);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.footer-content {
  width: 100%;
  background-color: #030314c4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 70px;
}

.footer-content-box {
  padding: 10px;
}

.footer-content-box h2 {
  color: #fff;
  font-size: 25px;
}

.footer-content-box p {
  width: 250px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #cfcfcf;
}

.footer-icons {
  display: flex;
  gap: 15px;
  color: #fff;
  font-size: 16px;
}

.footer-content-box ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-content-box a {
  color: #fff;
  text-decoration: none;
  padding: 50px 0;
  font-size: 15px;
}

.footer-content-box li {
  padding-bottom: 5px;
}

.footer-content-box h2 {
  padding-bottom: 15px;
}

.copy {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
}

hr {
  padding: 0;
  margin: 0;
}

.copy-right-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #c7c7c7;
  align-items: center;
  padding: 5px 130px;
}

.copy-right-box h5 {
  font-size: 14px;
}

.bg2 {
  width: 100%;
  background-image: url(../images/aboutbg.webp);
  background-size: cover;
  background-attachment: fixed;
}

.bg2-contect {
  width: 100%;
  padding: 150px 0;
  background-color: #07072d9f;
  text-align: center;
  color: #fff;
  background-attachment: fixed;
}

.bg2-contect h1 {
  font-size: 50px;
  font-weight: 700;
}

.bg2-contect a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  font-weight: 700;
}

.main-team-box {
  width: 100%;
  padding: 30px 100px 15px;
  background-color: #060922;
}

.team-box {
  height: 350px;
  width: 280px;
  background-color: #00f;
  border-radius: 12px;
  cursor: pointer;
}

.main-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 60px;
  flex-wrap: wrap;
}

.main-team-box h4 {
  color: #09aff4;
  font-size: 16px;
  letter-spacing: 1px;
}

.main-team-box h2 {
  color: #fff;
  font-size: 40px;
}

.main-team-box p {
  font-weight: 500;
  color: #c8c8c8;
  padding-bottom: 30px;
}

.content-box3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-box3 button {
  padding: 14px 30px;
  border: none;
  font-weight: 700;
  font-size: 12px;
  background-color: #09aff4;
  color: #fff;
  margin-top: 20px;
  border: 2px solid #09aff4;
  border-radius: 15px 0;
  transition: 0.4s;
}

.content-box3 button:hover {
  background-color: transparent;
  color: #09aff4;
}

.pic-one {
  background-image: url(/assets/mithun-540x654-76df1f04.jpg);
  background-size: cover;
}

.pic-two {
  background-image: url(/assets/Chitiz-05220456.jpg);
  background-size: cover;
}

.pic-Three {
  background-image: url(/assets/sanjeev-copy-540x654-6c0a2189.jpg);
  background-size: cover;
}

.pic-for {
  background-image: url(/assets/pic-1-8febb894.jpg);
  background-size: cover;
}

.pic-five {
  background-image: url(/assets/tanwwer-d57bd31d.jpg);
  background-size: cover;
}

.outer-box {
  height: 430px;
  text-align: center;
  color: #fff;
}

.outer-box h3 {
  font-size: 18px;
  padding: 0;
  margin-top: 8px;
  transition: 0.3s;
}

.outer-box p {
  font-size: 13px;
  margin-top: -5px;
  color: #8f8d8d;
}

.outer-box h3:hover {
  color: #09aff4;
  cursor: pointer;
}

.img-icon {
  height: 100%;
  width: 100%;
  background-color: #162185cc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  transform: scale(0);
  transition: 0.4s;
  border-radius: 12px;
}

.team-box:hover .img-icon {
  transform: scale(1);
}

.img-icon a {
  color: #fff;
}

.maincro {
  width: 100%;
  background-color: #09aff4;
  margin: auto;
  padding: 30px 100px;
}

.item {
  background-color: #000000d5;
  text-align: center;
  width: 230px;
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.item img {
  width: 100%;
}

.maincro h1 {
  text-align: center;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 30px;
  color: #fff;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  /* -moz-backface-visibility: hidden */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* -webkit-transform: translate3d(0px,0px,0px) */
}

/* .owl-carousel .owl-wrapper,.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0)
} */

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  /* -webkit-backface-visibility: hidden; */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.no-js .owl-carousel {
  display: block;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.owl-height {
  transition: height 0.5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(/assets/owl.video.play-04360456.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  /* -webkit-backface-visibility: hidden; */
  transition: transform 0.1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

/* .owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #869791;
    color: #fff;
    text-decoration: none
}

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px
} */

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  /* -webkit-backface-visibility: visible; */
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.footer-contect {
  width: 100%;
  height: 500px;
  background-image: url(../images/footerbg1.webp);
}
.tesd{
    margin-top: 100px;
}
.hhg {
    background-image: url(../images/img2-f5f2842e.webp) !important;
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.blue {
  width: 100%;
  height: 100%;
  background-color: #010110da;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.blue h4 {
  font-size: 17px;
  color: #09aff4;
  letter-spacing: 1px;
}

.blue button {
  padding: 14px 30px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  background-color: #09aff4;
  color: #fff;
  margin-top: 20px;
  border: 2px solid #09aff4;
  border-radius: 15px 0;
  transition: 0.4s;
}

.blue button:hover {
  background-color: transparent;
  color: #09aff4;
}

.blue h1 {
  padding: 10px;
  font-size: 45px;
}

.video-box {
  width: 100%;
  padding: 20px 30px;
  background-color: #060922;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.video-content-box {
  width: 600px;
  margin: 10px;
}

.video-content-box h4 {
  color: #09aff4;
  font-size: 16px;
  letter-spacing: 1px;
}

.video-content-box h2 {
  color: #fff;
  padding-bottom: 10px;
}

.video-content-box p {
  font-weight: 600;
  color: #a3a3a3;
  width: 580px;
  text-align: justify;
}

.video-content-box button {
  padding: 14px 30px;
  border: none;
  font-weight: 700;
  font-size: 12px;
  background-color: #09aff4;
  color: #fff;
  margin-top: 20px;
  border: 2px solid #09aff4;
  border-radius: 15px 0;
  transition: 0.4s;
}

.video-content-box button:hover {
  background-color: transparent;
  color: #09aff4;
}

.video-content-box img {
  width: 100%;
  object-fit: cover;
}

.img-box {
  display: flex;
  position: relative;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play {
  font-size: 50px;
  color: #040c48;
  cursor: pointer;
}

.Service-main-box {
  width: 100%;
  padding: 80px 0;
  background-color: #060922;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Services-box {
  padding: 20px 0;
  width: 500px;
}

.Services-box img {
  width: 100%;
  object-fit: cover;
}

.serinner-box-main {
  width: 100%;
  padding: 5px 0;
}

.Services-box h4 {
  color: #09aff4;
  font-size: 16px;
  letter-spacing: 1px;
}

.Services-box h2 {
  color: #fff;
  padding-bottom: 8px;
}

.box44 {
  width: 550px;
}

.box44 p {
  color: #b7b7b7;
  font-weight: 500;
}

.serinner-box-main {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.serinner-box {
  padding: 5px 0;
  width: 260px;
}

.imgservi {
  width: 65px;
  height: 65px;
}

.oneimg1 {
  background-image: url(/assets/img_box_14-1-9a0c087e.png);
  background-size: cover;
  background-position: center;
}

.twoimg2 {
  background-image: url(/assets/img_box_15-1-f9172580.png);
  background-size: cover;
  background-position: center;
}

.serinner-box h3 {
  color: #fff;
  margin-top: 20px;
  font-size: 20px;
}

.digital-box {
  width: 100%;
  background-color: #060922;
  padding: 40px 80px;
}

.digital-box h4 {
  color: #09aff4;
  font-size: 16px;
  letter-spacing: 1px;
}

.digital-box h2 {
  color: #fff;
  font-size: 30px;
  padding-bottom: 20px;
}

.digital-inner {
  width: 45%;
  height: 250px;
}

.outerdigital {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 20px;
}

.digital-box h1 {
  color: #fff;
  font-size: 32px;
}

.digital-title-box {
  width: 81%;
  padding: 10px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-main-box p {
  color: #c2c0c0;
}

.tital-box {
  height: 100%;
  width: 400px;
  padding: 8px;
}

.tital-box h4 {
  color: #09aff4;
  font-size: 16px;
  letter-spacing: 1px;
}

.tital-box h2 {
  color: #fff;
}

.tital-box button {
  padding: 15px;
  font-weight: 600;
  font-size: 17px;
  background-color: #09aff4;
  border-radius: 0 20px;
  border: 2px solid #09aff4;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.tital-box button:hover {
  background-color: transparent;
  color: #09aff4;
}

.btn-box1 {
  display: flex;
  justify-content: right;
}

.digital-img {
  background-image: url(/assets/market-img-0d4774fe.jpg);
  background-size: cover;
  background-position: center;
}

.new-main-box {
  width: 100%;
  padding: 10px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.new-box {
  width: 290px;
}

.new-box h4 {
  color: #09aff4;
}

.new-box h5 {
  color: #fff;
}

.new-box p {
  color: #b7b7b7;
  font-weight: 500;
}

.discover {
  padding: 15px;
  font-weight: 600;
  font-size: 17px;
  background-color: #09aff4;
  border-radius: 0 20px;
  border: 2px solid #09aff4;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
header{
  position: fixed;
  width: 100%;
  z-index: 999999;
}

.discover:hover {
  background-color: transparent;
  color: #09aff4;
}

.plan-box {
  width: 100%;
  padding-bottom: 50px;
  background-color: #060922;
}

.plan-header {
  text-align: center;
}

.plan-header h4 {
  color: #09aff4;
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 30px;
}

.plan-header h2 {
  color: #fff;
}

.plan-header p {
  color: #b7b7b7;
  font-weight: 500;
}

.plan-main-box {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.plan-card {
  width: 380px;
  border: 1px solid #09aff4;
  border-radius: 10px;
  padding: 20px 30px;
  height: 560px;
}

.card-main-tital {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.card-main-tital h3 {
  color: #85d691;
  font-size: 25px;
}

.card-main-tital h2 {
  color: #09aff4;
  font-size: 25px;
}

hr {
  color: #09aff4;
  padding: 0.5px;
}

.plan-card p {
  color: #a5a3a3;
  font-weight: 400;
  margin-top: 20px;
}

.plan-card li {
  color: #9cb1ba;
  font-weight: 400;
  line-height: 40px;
}

.plan-card button {
  padding: 12px;
  font-weight: 600;
  font-size: 15px;
  background-color: #85d691;
  border-radius: 0 20px;
  border: 2px solid #85d691;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 35px;
}

.plan-card button:hover {
  background-color: transparent;
  color: #85d691;
}

.plancard2 {
  width: 400px;
}

.plancard2 h3 {
  color: #f47215;
}

.plancard2 button {
  background-color: #f47215;
  border: 2px solid #f47215;
}

.plancard2 button:hover {
  color: #f47215;
}

.card3 h3 {
  color: #6254e7;
}

.card3 button {
  background-color: #6254e7;
  border: 2px solid #6254e7;
}

.card3 button:hover {
  color: #6254e7;
}

.design-main-box {
  width: 100%;
  padding: 20px 70px;
  background-color: #060922;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.design-box {
  width: 600px;
  padding: 5px 0;
}

.design-box img {
  width: 100%;
  object-fit: cover;
}

.design-box h2 {
  font-size: 28px;
}

.design-box h4 {
  font-weight: 700;
}

.design-box p {
  color: #a5a3a3;
  font-weight: 500;
}

.design-box li {
  color: #9cb1ba;
  font-weight: 500;
  line-height: 30px;
  font-size: 17px;
}

.design-box button {
  padding: 13px;
  font-weight: 600;
  font-size: 15px;
  background-color: #09aff4;
  border-radius: 0 20px;
  border: 2px solid #09aff4;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
}

.design-box button:hover {
  background-color: transparent;
  color: #09aff4;
}

.any-main-box {
  width: 100%;
  padding: 40px 0;
  background-color: #060922;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.any-box {
  width: 500px;
  padding: 10px 0;
  text-align: center;
}

.any-box img {
  width: 100%;
  object-fit: cover;
}

.any-box h2 {
  color: #fff;
}

.any-box p {
  color: #a5a3a3;
  font-weight: 500;
  padding: 10px 0;
}

.any-box button {
  padding: 13px;
  font-weight: 600;
  font-size: 14px;
  background-color: #09aff4;
  border-radius: 0 20px;
  border: 2px solid #09aff4;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.any-box button:hover {
  background-color: transparent;
  color: #09aff4;
}

.tri-box-1 {
  width: 100%;
  padding: 30px 50px;
  background-color: #060922;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trininig-box {
  width: 600px;
  padding: 5px 0;
}

.call-box {
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.call-box i {
  font-size: 55px;
  color: red;
  padding-right: 15px;
}

.call-box h3 {
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
}

.tri-one h4 {
  font-size: 16px;
  letter-spacing: 1px;
  color: #09aff4;
}

.tri-one h2 {
  color: #fff;
  font-size: 25px;
  margin: 20px 0;
}

.tri-one p {
  font-weight: 500;
  color: #8f8e8e;
}

.trininig-box .o01 {
  color: #f01515;
  padding: 0 0 10px;
}

.o01 span {
  padding-left: 20px;
  font-size: 24px;
}

.o01 span,
.o02 span {
  padding-left: 20px;
}

.trininig-box .o02 {
  color: #2672ba;
  padding: 10px 0;
}

.o02 span {
  padding-left: 20px;
  font-size: 24px;
}

.tri22 p {
  padding-left: 60px;
  font-weight: 500;
  color: #8f8e8e;
}

.h31 {
  color: #4dcc47;
  padding: 10px 0;
}

.h31 span {
  padding-left: 20px;
  font-size: 24px;
}

.main-poster-box {
  width: 100%;
  padding: 50px 100px;
  background-color: #060922;
}

.inner22 {
  width: 100%;
  text-align: center;
}

.poster-box {
  height: 300px;
  width: 350px;
  background-color: #4dcc47;
  padding: 10px;
}

.poster-inner-box {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  gap: 25px;
  flex-wrap: wrap;
  padding-top: 30px;
}

.img23 {
  height: 100px;
  width: 100px;
  background-image: url(/assets/DM-47c54de1.png);
  background-size: cover;
  margin: auto auto 20px;
}

.img24 {
  height: 100px;
  width: 100px;
  background-image: url(/assets/php-b8e4ad75.png);
  background-size: cover;
  margin: auto auto 20px;
}

.img25 {
  height: 100px;
  width: 100px;
  background-image: url(/assets/python-d701935c.png);
  background-size: cover;
  margin: auto auto 20px;
}

.img26 {
  height: 100px;
  width: 100px;
  background-image: url(/assets/dotnet-83517e11.png);
  background-size: cover;
  margin: auto auto 20px;
}

.img27 {
  height: 100px;
  width: 100px;
  background-image: url(/assets/web-design-a763fa13.png);
  background-size: cover;
  margin: auto auto 20px;
}

.img28 {
  height: 100px;
  width: 100px;
  background-image: url(/assets/codeigniter-c235e8b9.png);
  background-size: cover;
  margin: auto auto 20px;
}

.poster-box h2 {
  color: #fff;
}

.poster-box p {
  font-weight: 500;
  color: #f4f4f4;
  margin-top: 20px;
}

.main-poster-box h4 {
  color: #09aff4;
  font-size: 17px;
  letter-spacing: 1px;
}

.main-poster-box h2 {
  color: #fff;
}

.one-poster {
  background-color: #fbcc70;
}

.two-poster {
  background-color: #fc859c;
}

.for-poster {
  background-color: #0159e7;
}

.five-poster {
  background-color: #7801e7;
}

.six-poster {
  background-color: #31034b;
}

.trening-form-box {
  width: 100%;
  padding: 50px;
  background-color: #060922;
}

.form-box {
  width: 90%;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-title-box {
  width: 90%;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.web2-box {
  width: 200px;
  padding: 5px 0;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 12px;
}

.web2-box img {
  width: 100%;
  object-fit: cover;
}

.logo-box-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.form-title-box h4 {
  font-size: 16px;
  letter-spacing: 1px;
  color: #09aff4;
}

.logo-box-btn button {
  padding: 12px 30px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 0 12px;
  background-color: #09aff4;
  color: #fff;
  border: 2px solid #09aff4;
  transition: 0.3s;
  cursor: pointer;
}

.logo-box-btn button:hover {
  background-color: transparent;
  color: #09aff4;
}

.form1 {
  width: 600px;
  padding: 10px 0;
  margin: 5px;
  background-color: #060922;
}

.form1 input {
  border: none;
  border-bottom: 1px solid rgb(84, 83, 83);
  outline: none;
  background-color: transparent;
  width: 40%;
  padding: 12px 12px 12px 0;
  margin: 2px 20px 2px 0;
  color: #fff;
}

.form1 h4 {
  color: #fff;
  padding-bottom: 10px;
  font-size: 20px;
}

.message input {
  width: 83%;
  padding-bottom: 50px;
}

.form1 button {
  padding: 12px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 0 12px;
  background-color: #09aff4;
  color: #fff;
  border: 2px solid #09aff4;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 20px;
}

.form1 button:hover {
  background-color: transparent;
  color: #09aff4;
}

.form1 img {
  width: 70%;
  object-fit: cover;
  float: right;
}

.new2box {
  width: 100%;
  padding: 40px;
  background-color: #060922;
  text-align: center;
}

.new2box h4 {
  font-size: 16px;
  letter-spacing: 1px;
  color: #09aff4;
}

.new2box h2 {
  color: #fff;
  padding: 10px 0;
  font-size: 30px;
}

.new2box p {
  color: #a3a0a0;
  font-weight: 500;
}

.last-img {
  height: 600px;
  margin: 60px auto auto;
}

.last-img img {
  object-fit: cover;
  height: 100%;
}

.contact-form-box {
  width: 100%;
  height: 100vh;
  background-color: #060922;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 50px;
}

.box11 {
  width: 90%;
  height: 500px;
  margin: 5px;
  color: #fff;
}

.box11 h1 {
  padding-bottom: 20px;
  font-size: 30px;
}

.row input {
  padding: 12px 8px;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid rgb(89, 89, 89);
  color: #fff;
}

.row label {
  font-weight: 500;
}

.mb-3 textarea {
  background-color: transparent;
  border-radius: 0;
  border: 1px solid rgb(89, 89, 89);
  color: #fff;
}

.box11 button {
  padding: 12px 30px;
  width: 218px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 0 12px;
  background-color: #09aff4;
  color: #fff;
  border: 2px solid #09aff4;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 8px;
}

.box11 button:hover {
  background-color: transparent;
  color: #09aff4;
}

@media only screen and (max-width: 1486px) {
  .main-box {
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 1321px) {
  .main-box {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 800px) {
  .box-4 {
    display: flex !important;
  }
  .card-img {
    width: 100%;
  }
  .cardd2 {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  nav .nav-ul {
    position: absolute;
    background-color: #000c28;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    align-items: center;
    padding: 50px;
    text-align: center;
    z-index: -1;
    transition: all .3s;
    margin-top: -120vh;
    height: 100vh;
  }
  .munuactive {
    margin-top: 36px !important;
  }

  .nav-ul a {
    color: #fff;
  }

  .Logo {
    width: 170px;
    top: 25%;
  }

  #menu {
    display: block;
    font-size: 28px;
    cursor: pointer;
  }
  .menuhide{
    display: none !important;
  }
  .closehide{
    display: block !important;
  }
  #menucls {
    display: none;
    font-size: 28px;
    cursor: pointer;
  }
  /* 
    .on {
        margin-top: -437vh;
        transition: .5s
    }

    .of {
        margin-top: 70px;
        transition: .5s
    } */

  nav {
    justify-content: space-between;
    padding: 25px;
    height: 70px;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 10px 0 10px #000;
  }
}
@media only screen and (max-width: 700px) {
  .last-img img {
    width: 100%;
  }

  .new2box {
    padding: 20px;
  }

  .new2box h2 {
    font-size: 25px;
  }

  .new2box p {
    font-size: 15px;
  }

  .last-img {
    height: auto;
  }

  .contact-form-box {
    flex-direction: column;
    height: auto;
    padding: 0 0 84px;
  }

  .box11 h1 {
    font-size: 25px;
  }

  iframe {
    height: 200px;
  }

  .box11 button {
    margin-top: 0;
    font-size: 12px;
    width: 190px;
  }
}
@media only screen and (max-width: 700px) {
  .AboutComp-box {
    flex-direction: column;
    padding: 20px;
  }

  .AboutComp-box h1 {
    font-size: 22px;
  }

  .main-content-box {
    flex-direction: column;
  }

  .About-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .About-box p {
    width: 100%;
  }

  .About-box h5 {
    text-align: start;
  }

  .About-box img {
    object-fit: cover;
    height: auto;
    width: auto;
    padding: 0;
  }

  .video-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 700px) {
  .video-content-box {
    width: 100%;
  }

  .video-content-box p {
    width: 100%;
    font-size: 15px;
  }

  .video-box {
    padding: 18px;
  }

  .video-content-box button {
    padding: 10px 11px;
  }
}
@media only screen and (max-width: 700px) {
  .Service-main-box {
    flex-direction: column;
    padding: 20px;
  }

  .serinner-box-main {
    flex-direction: column;
  }

  .Services-box {
    width: auto;
  }

  .outerdigital,
  .new-main-box,
  .design-main-box,
  .any-main-box {
    flex-direction: column;
  }

  .design-box,
  .box44,
  .digital-inner,
  .any-box {
    width: auto;
  }

  .digital-img img {
    height: auto;
    width: 100%;
  }

  .box44 p {
    font-size: 15px;
  }

  .Services-box h2 {
    font-size: 25px;
  }

  .Services-box h4 {
    font-size: 15px;
  }

  .serinner-box h3 {
    font-size: 25px;
  }

  .digital-title-box {
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: -30px;
  }

  .btn-box1 {
    justify-content: start;
  }

  .tital-box {
    width: auto;
  }

  .digital-box {
    padding: 20px;
  }

  .tital-box button {
    padding: 10px 11px;
    margin-top: -20px;
  }

  .tital-box h2 {
    font-size: 30px;
  }

  .tital-box h4 {
    font-size: 15px;
  }

  .digital-inner {
    width: 100%;
  }

  .digital-box h4 {
    font-size: 15px;
  }

  .digital-box h2 {
    font-size: 25px;
  }

  .discover {
    display: none;
  }

  .new-box {
    width: auto;
  }

  .new-box h4 {
    font-size: 25px;
    font-weight: 700;
  }

  .design-main-box {
    padding: 0;
  }

  .any-box {
    padding: 10px;
  }

  .any-box button {
    padding: 10px 11px;
  }

  .career-box h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .career-box {
    padding: 20px;
    letter-spacing: 1px;
  }

  .service-title-card {
    padding: 0;
  }

  .card-title h1 {
    font-size: 25px;
    padding: 0;
    margin-bottom: 60px;
  }

  .card-title p {
    padding-bottom: 20px;
  }

  .any-box {
    padding: 0 0 50px;
  }
}
@media only screen and (max-width: 700px) {
  .blue h1 {
    font-size: 25px;
  }

  .blue button {
    padding: 10px 11px;
  }

  .footer-contect {
    height: 300px;
  }
}
@media only screen and (max-width: 700px) {
  .content-box3 {
    flex-direction: column;
  }

  .main-team-box {
    padding: 0 10px;
  }

  .main-box {
    flex-direction: column;
    align-items: center;
  }

  .content-box3 {
    padding: 11px;
  }

  .content-box3 h2 {
    font-size: 25px;
  }

  .main-box {
    gap: 0px;
  }

  .tanweer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content-box3 button {
    padding: 10px 11px;
  }

  .main-team-box p {
    padding-bottom: 0;
    font-size: 15px;
  }

  .content-box3 {
    align-items: start;
  }

  .outer-box {
    width: 100%;
    height: 448px;
    padding: 10px;
  }

  .team-box {
    width: 100%;
    height: 380px;
  }

  .main-team-box {
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 700px) {
  .maincro h1 {
    font-size: 25px;
  }

  .maincro {
    padding: 30px 20px;
  }

  .item {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 700px) {
  .tri-box-1 {
    flex-direction: column;
  }

  .trininig-box {
    width: auto;
  }

  .tri-box-1 {
    padding: 30px 20px;
  }

  .tri22 p {
    padding-left: 0;
    font-size: 15px;
  }

  .main-poster-box {
    padding: 50px 20px;
  }

  .form-title-box {
    flex-direction: column;
  }

  .trening-form-box {
    padding: 0;
  }

  .web2-box {
    width: 100%;
    padding: 0;
  }

  .logo-box-btn {
    align-items: start;
  }

  .form-box {
    flex-direction: column;
    width: 100%;
  }

  .form1 {
    width: auto;
  }

  .form-box .form1:first-child {
    border: 1px solid #09aff4;
    padding: 20px;
  }

  .form-title-box,
  .form1 img {
    width: 100%;
  }

  .logo-box-btn button {
    padding: 10px 11px;
  }

  .form1 input {
    width: 100%;
    border-bottom: 1px solid #ffffff;
  }

  .form1 button {
    padding: 9px;
  }

  .poster-box {
    border-radius: 5px;
  }
}
@media only screen and (max-width: 700px) {
  .bg2-contect h1 {
    font-size: 27px;
  }

  .bg2 {
    background-position: center;
  }
}
@media only screen and (max-width: 700px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .video-content-box p,
  .video-content-box {
    width: 100%;
  }

  .content-box3 button {
    margin-bottom: 20px;
  }

  .footer-content,
  .copy-right-box {
    padding: 0;
  }

  .copy-right-box h5,
  .copy {
    font-size: 10px;
  }

  .footer-content {
    padding-left: 10px;
  }

  .footer-content-box ul {
    margin-left: 0;
    padding-left: 0;
  }
}
@media only screen and (max-width: 700px) {
  .Port-card {
    padding: 40px 15px;
    margin-top: -56px;
  }

  .card-img {
    height: auto;
    width: auto;
  }
}
@media only screen and (max-width: 700px) {
  .inner-content2 h1 {
    font-size: 21px;
  }

  .inner-content2 {
    width: 100%;
  }

  .inner-content2 button {
    display: none;
  }

  .blue h1 {
    font-size: 25px;
  }

  .inner-content2 {
    padding: 45px 7px 7px;
  }

  .inner-content2 p {
    width: auto;
    font-size: 15px;
  }
}
@media only screen and (max-width: 700px) {
  .input-box {
    flex-direction: column;
  }

  .contect-box {
    margin: 0;
  }

  .contect-box p {
    padding-bottom: 0;
    margin-top: -10px;
  }

  .content-img {
    display: none;
  }

  .Portfolio-box {
    flex-direction: column;
    align-items: start;
  }

  .Portfolio-box h1 {
    font-size: 25px;
  }

  .Portfolio-box button {
    width: auto;
    padding: 7px 11px;
  }

  .box22 {
    width: 90%;
  }

  .Contect-main-box {
    padding: 0 0 40px;
  }
}

@media only screen and (max-width: 700px) {
  .top {
    margin-right: 15px;
    height: 40px;
    width: 40px;
    margin-top: 40px;
  }

  .App {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .card2 {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .card-box {
    padding: 20px;
  }

  .card-title {
    flex-direction: column;
  }

  .see-btn {
    width: 100%;
    justify-content: start;
    margin-top: -20px;
  }

  .service-title-card {
    width: 100%;
    padding: 20px;
  }

  .card-title h1 {
    font-size: 30px;
  }

  .main-card {
    width: 100%;
  }

  .see-btn button {
    padding: 10px 11px;
  }
}
@media only screen and (max-width: 700px) {
  .bg-box {
    flex-direction: column;
  }
  .About-box {
    margin-top: 50px;
  }
  .carddd {
    width: 100% !important;
  }
  .reserch-main-box {
    padding: 0;
  }

  .box-4 {
    flex-direction: column;
    padding: 50px 25px;
  }

  .box-4 p {
    font-size: 15px;
  }

  .box1 h1 {
    font-size: 25px;
    width: 100%;
  }

  .footer-box {
    flex-direction: column;
    height: auto;
    padding: 0;
    flex-wrap: wrap;
  }

  .footer-box .inner-footer {
    margin-left: -114px;
  }

  .inner-footer i {
    font-size: 33px;
    width: 30px;
  }

  .inner-footer .fa-location-dot {
    margin-left: 22px;
  }

  .inner-footer h4 {
    width: 100%;
    font-size: 14px;
  }

  .inner-footer p {
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
  }

  .inner-footer .fa-envelope {
    font-size: 28px;
  }

  .clint-content {
    flex-direction: column;
    padding-top: 40px;
    margin-top: 119px;
  }

  .clint-bg {
    padding: 0;
    height: 100%;
    background-size: 5000px;
    background-repeat: no-repeat;
  }

  .box-content {
    width: auto;
  }
  .box-4 {
    display: block !important;
  }

  .box-content img,
  .box-content p {
    width: 100%;
  }

  .inner-box {
    flex-direction: column;
    gap: 0px;
  }

  .inner-box h3 {
    font-size: 28px;
  }

  .box-content h1 {
    font-size: 25px;
  }

  .inner-input input {
    padding: 13px 32px;
    margin-left: 30px;
  }

  .box1,
  .bg-content-img img {
    width: 100%;
    height: auto;
  }

  .bg-content {
    padding: 20px;
  }

  .bg-box {
    overflow: hidden;
  }

  .box1 p {
    font-size: 15px;
  }

  .box1 h5 {
    font-size: 14px;
  }

  .get-btn {
    width: auto;
    padding: 7px 11px;
  }

  .footer-content-box p {
    width: auto;
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .card2 p {
    width: 90%;
  }

  .card-box {
    padding: 20px;
  }
}
@media only screen and (max-width: 350px) {
  .Portfolio-box h1 {
    font-size: 22px;
  }

  .Portfolio-box h4 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 330px) {
  .inner-input input {
    padding: 2px;
    margin-left: -20px;
  }

  .footer-box .inner-footer {
    margin-left: -50px;
  }
}
